<div class="container">
  <h2>New Quiz</h2>
  <form action="/admin/quizes/add" method="POST">
    <label>Name</label>
    <input type="text" name="name" />
    <a href="/">Cancel</a>
    <button type="submit">Create</button>
  </form>
</div>
