<h2>New Question</h2>
<form action="/questions/add/<%= id %>" method="POST">
  <label>Input question</label>
  <input type="text" name="question" />
  <a href="/">Cancel</a>
  <button type="submit">Create</button>
</form>
